# Exclude large data files

*.csv
*.xlsx
*.xlsb

# Except the following one

!Inventory_Intelligence.xlsx

# Exclude temporary Excel files

~$*

# System folders

.DS_Store
-Zone.Identifier